@import url(./reset.css);

@font-face {
    font-family: "roboto";
    src: url(../font/Roboto-Regular.ttf);
}

:root {
    --color1: rgba(83, 38, 212, 1);
    --color2: rgba(255, 255, 255, 1);
    --color3: rgba(65, 68, 191, 1);
    --color4: rgba(222, 230, 243, 1);
    --color5: rgba(23, 35, 69, 1);
    --color6: rgba(0, 0, 0, 0.4);
    --color7: rgba(211, 225, 230, 1);
    --color8: rgba(0, 0, 0, 1);
    --color9: rgba(23, 35, 69, 1);
    --color10: rgba(245, 180, 164, 1);
    --color11: rgba(0, 56, 210, 1);
    --color12: rgba(170, 170, 170, 1);
    --color13: rgba(253, 248, 245, 1);
    --font1: "roboto", sans-serif;
}

body {
    font-family: var(--font1);
}

/*HEADER____________________________________________________*/

.header {}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    min-height: 680px;
    /*потом удалить*/
    background-image: url(../img/header_background.png);
    background-size: cover;
    padding: 21px 42px;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 106px;
}

.header_nav ul {
    display: flex;
    gap: 41px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color1);
    letter-spacing: 2px;
    line-height: 16px;
    text-transform: uppercase;
}

.header_nav a:hover {
    color: var(--color2);
    text-decoration: underline;
    transition: 0.1s;
}

.header_logo {
    width: 324px;
}

.header_basket a:nth-child(2) {
    margin-left: 20px;
}

.header_img {
    width: 30px;
    height: 30px;
}

.header_info {
    color: var(--color2);
    text-align: center;

}

.header_info h1 {
    font-size: 62px;
    line-height: 70px;
    letter-spacing: 4px;
    margin-bottom: 21px;
}

.header_info p {
    font-size: 29px;
    line-height: 41px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 33px;
}


.header_info a {
    color: var(--color3);
    border: 3px solid var(--color3);
    border-radius: 50px;
    background: var(--color2);
    text-align: center;
    font-size: 18px;
    line-height: 31px;
    padding: 13px 35px;
}

.header_info a:hover {
    opacity: 0.8;
    transition: 0.3s;
}

/*PARTNERS____________________________________________________*/

.partners_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.partners_inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 27px 115px;
    background: var(--color4);

}

.partners_inner img {
    align-self: center;

}

.partners_inner p {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
}

/*MAKE____________________________________________________*/

.make {}

.make_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 31px 0px 23px;
    color: var(--color5);
}

.make_container p {
    font-size: 24px;
    line-height: 39px;
    letter-spacing: 1px;
}

.make_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 6px;
    margin-bottom: 23px;
}

.make_inner p {
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/*INFO____________________________________________________*/

.info {}

.info_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 0;
}

.info_inner {
    display: flex;
    gap: 20px;
}

.info_text {
    width: 200px;
    height: 340px;
    padding-top: 133px;
    text-align: center;
}

.info_text p {
    margin-bottom: 22px;
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 1px;
}

.info_text button {
    padding: 12px 24px;
    border-radius: 100px;
    border: 3px solid var(--color3);
    font-size: 19px;
    line-height: 31px;
    color: var(--color3);
}

.info_text button:hover {
    background: var(--color6);
    color: var(--color2);
    border: 3px solid var(--color6);
    transition: 0.2s;
}

.info_card {
    width: 350px;
    height: 455px;
    padding-top: 358px;
    text-align: center;
}

.info_card.info_shadow {
    background-color: var(--color6);
}


.info_color1 {
    background-image: url(../img/info_img1.png);
    background-repeat: no-repeat;
}

.info_color2 {
    background-image: url(../img/info_img2.png);
    background-repeat: no-repeat;
}

.info_color3 {
    background-image: url(../img/info_img3.png);
    background-repeat: no-repeat;
}

/*SHOP____________________________________________________*/

.shop {}

.shop_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 7px 23px;
    text-align: center;
}

.shop_inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;

}

.shop_line {
    width: 558px;
    height: 5px;
    background: var(--color7);
}

.shop_container a {
    font-size: 17px;
    line-height: 28px;
    color: var(--color2);
    text-transform: uppercase;
    padding: 13px 38px;
    background: var(--color3);
    border-radius: 50px;
    border: 3px solid var(--color3);
}

.shop_container a:hover {
    color: var(--color2);
    background: var(--color6);
    border: 3px solid var(--color6);
    transition: 0.3s;
}

/*VIDEO____________________________________________________*/

.video {
    margin-top: 23px;
    margin-bottom: 32px;
}

.video_container {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 21px;
}

.video_inner {
    display: flex;
    gap: 24px;
}

.video_pleer {}

.video_item {
    max-width: 678px;
    min-height: 585px;
    width: 100%;
    height: 100%;
}

.video_info {
    min-width: 672px;
    text-align: center;
    padding-top: 186px;
}

.video_info img {
    margin-bottom: 10px;
}

.video_info h2 {
    margin-bottom: 190px;
    font-size: 33px;
    line-height: 42px;
    color: var(--color9);
}

.video_info p {
    margin-bottom: 5px;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 2px;
    color: var(--color8);
    text-transform: uppercase;
}

.video_squares {
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.video_squares div:nth-child(1) {
    background: var(--color8);
}

.video_square {
    width: 12px;
    height: 12px;
    border: 1px solid var(--color8);
}

.video_price {}

.video_line {
    width: 258px;
    height: 1px;
    background: var(--color8);
    margin: 0 auto;
}

.video_button {
    max-width: 678px;
    width: 100%;
    padding-top: 243px;
    text-align: center;
    position: absolute;
    top: 0%;
}

.video_button button {
    margin-bottom: 60px;
}

.video_button p {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 2px;
    color: var(--color2);
}

.video_button a {
    padding: 13px 55px;
    background: var(--color2);
    color: var(--color3);
    border: 2px solid var(--color3);
    border-radius: 100px;
    margin-top: 11px;
}

.video_button a:hover {
    color: var(--color2);
    background: var(--color6);
    border: 3px solid var(--color6);
    transition: 0.3s;
}

/*MEDS____________________________________________________*/
.meds {
    margin-bottom: 400px;
}

.meds_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}


.meds_container img {
    display: block;
    position: absolute;
}


.meds_img1 {
    position: absolute;
    top: 236px;
    left: 109px;
    z-index: -50;
}

.meds_img2 {
    position: absolute;
    left: 600px;
    top: 236px;
    z-index: -50;
}

.meds_img3 {
    position: absolute;
    left: 1000px;
    top: 236px;
    z-index: -50;
}

.meds_img4 {
    position: absolute;
    top: 236px;
    left: 109px;
    z-index: -50;
}

.meds_img5 {
    position: absolute;
    left: 600px;
    top: 322px;
    z-index: -52;
}

.meds_img6 {
    position: absolute;
    left: 1000px;
    top: 133px;
    z-index: -52;
}

.meds_info {}

.meds_info h2 {
    font-size: 61px;
    line-height: 70px;
    letter-spacing: 4px;
    color: var(--color5);
    margin-bottom: 17px;
}

.meds_info p {
    font-size: 31px;
    line-height: 41px;
    color: var(--color5);
    margin-bottom: 129px;
}

.meds_info a {
    padding: 12px 24px;
    background: var(--color3);
    color: var(--color2);
    font-size: 23px;
    line-height: 39px;
    border: 3px solid var(--color3);
    border-radius: 6px;
}

.meds_info a:hover {
    color: var(--color2);
    background: var(--color6);
    border: 3px solid var(--color6);
    transition: 0.3s;
}


.meds_img7 {
    position: absolute;
    left: 252px;
    top: 245px;
    z-index: 1;
}

.meds_img8 {
    position: absolute;
    left: 356px;
    top: 177px;
    z-index: 1;
}

.meds_img9 {
    position: absolute;
    left: 395px;
    top: 522px;
    z-index: 1;
}

.meds_img10 {
    position: absolute;
    left: 948px;
    top: 55px;
    z-index: 1;
}

.meds_img11 {
    position: absolute;
    left: 1174px;
    top: 165px;
    z-index: 1;
}

.meds_img12 {
    position: absolute;
    left: 1125px;
    top: 432px;
    z-index: 1;
}


/*HOWTO____________________________________________________*/

.howto {
    margin-bottom: 137px;
}

.howto_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 3px 0 55px;
}

.howto_inner {
    display: flex;
    gap: 201px;
}

.howto_info {}

.howto_info h4 {
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 2px;
    color: var(--color5);
    text-transform: uppercase;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--color10);
    max-width: 58px;
    margin-bottom: 54px;
}

.howto_info h1 {
    font-size: 76px;
    line-height: 82px;
    letter-spacing: 5px;
    color: var(--color5);
    margin-bottom: 102px;
}

.howto_info p {
    font-size: 26px;
    line-height: 26px;
    color: var(--color5);

}

.howto_title {}

.howto_text {
    width: 373px;
    padding-left: 40px;
}

.howto_img {
    min-width: 713px;
    margin-top: 90px;
}


/*PRODUCTS____________________________________________________*/

.products {}

.products_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 10px;

}

.products_grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: space-between;
}

.products_card {
    min-width: 473px;
    padding: 21px 21px 37px 21px;

}

.card1 img {}

.products_img {
    margin-bottom: 7px;
}

.products_sale {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.products_sale h4 {
    font-size: 19px;
    line-height: 22px;
    color: var(--color5);
}

.products_sale p {
    font-size: 19px;
    line-height: 22px;
    color: var(--color11);
}

.products_price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.products_price h3 {
    font-size: 15px;
    line-height: 16px;
    color: var(--color12);
}

.products_price p {
    font-size: 16px;
    line-height: 16px;
    color: var(--color5);
}

.products_rated {
    display: flex;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 24px;
    color: var(--color5);
}

.products_rated p:nth-child(1) {
    margin-right: 17px;
}

.products_stars {}

.product_flex {
    display: flex;
    justify-content: space-between;
    padding: 0px 21px;
    margin-bottom: 51px;
}

.product_flex_img {
    margin-bottom: 8px;
}

/*GET____________________________________________________*/

.get {}

.get_container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.get_img {
    min-height: 700px;
    background-image: url(../img/get_background.png);
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 55px;
    line-height: 44px;
    letter-spacing: 3px;
    color: var(--color5);

}

.get_img p {
    display: block;
    width: 509px;
    text-align: center;

}

.get_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color7);
    text-align: center;
}

.get_info h3 {
    font-size: 55px;
    line-height: 44px;
    letter-spacing: 3px;
    color: var(--color5);
    margin-bottom: 65px;
}

.get_info h4 {
    margin-bottom: 28px;
    font-size: 25px;
    line-height: 31px;
    color: var(--color5);
}

.get_info button {
    margin-bottom: 32px;
    padding: 12px 55px;
    border: 3px solid var(--color3);
    border-radius: 6px;
    font-size: 23px;
    line-height: 39px;
    color: var(--color2);
    background-color: var(--color3);
}

.get_info button:hover{
    color: var(--color2);
    background: var(--color6);
    border: 3px solid var(--color6);
    transition: 0.3s;
}

.get_info p {
    margin-bottom: 150px;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 2px;
    color: var(--color5);
    text-transform: uppercase;
}

.get_vector {
  
}

.get_cards {
    display: flex;
    justify-content: center;
    background-color: var(--color13);
    /* margin-bottom: 52px; */
}

.get_card {
    width: 380px;
    text-align: center;
}

.get_card img{
    margin-bottom: 11px;
}

.get_card h3{
    font-size: 23px;
    line-height: 26px;
    color: var(--color5);
    margin-bottom: 14px;
}

.get_text {
    max-width: 238px;
    margin: 0 auto;
    font-size: 11px;
    line-height: 24px;
    color: var(--color5);
}